
.ruby-version
#.rspec
.rspec.out
.errors

*.swp

.vimrc
.viminfo

tmp/*.db
tmp/*.log
.tmp.*

.notes.md
.todo.md

envs/shell/home/scratch.flo
envs/shell/home/payload.json
envs/shell/home/variables.json
envs/shell/var/tasks/*/*.json

