
.ruby-version
.tool-versions
#.rspec
.rspec.out
.errors
.bxsinfo.yaml
#.bxsenvs.yaml

*.swp

.vimrc
.viminfo
.vimgrep
#.vimshorts
.vimmarks
.vimspec

tmp/*.db
tmp/*.log
.tmp.*

.notes.md
.todo.md

Gemfile.lock

pkg/

envs/shell/home/scratch.flo
envs/shell/home/payload.json
envs/shell/home/variables.json
envs/shell/var/tasks/*/*.json
envs/shell/var/flor.db
  #
.log.txt

