
.ruby-version
#.rspec
.rspec.out
.errors
.bxsinfo.yaml
#.bxsenvs.yaml

*.swp

.vimrc
.viminfo

tmp/*.db
tmp/*.log
.tmp.*

.notes.md
.todo.md

Gemfile.lock

envs/shell/home/scratch.flo
envs/shell/home/payload.json
envs/shell/home/variables.json
envs/shell/var/tasks/*/*.json
envs/shell/var/flor.db
  #
.log.txt

